<div class="project" id="project">
    <div class="content-inner">
        <div class="content-header">
            <h2>Projects</h2>
        </div>
        <div class="row align-items-center">
            <div class="col-md-4">
                <div class="port-col">
                    <h3>PFML</h3>
                    <h4>TCS internal project</h4>
                    <p>Paid Family Medical Leave is a TCS internal product project based on US Govt. policy.</p>
                    <p>Developing with technology stack: Java, Spring Boot, Postgresql, AngularJs based on the Microservice Architecture</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="port-col">
                    <h3>My Vehicle Shop</h3>
                    <h4>E-commerce Website</h4>
                    <p>An E-Commerce Web and mobile application project.</p>
                    <p>Developed in MeteorJS (nodeJs cross-platform Framework) using MongoDB database with automation system</p>
                    <p>A fully automated platform that handles Inventory in a smart way</p>
                    <p>Goal to build an application that allows end-users to buy Vehicles from home using our mobile or web App.</p>
                    <p>Aim to reduce lots of paperwork and save the customer time</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="port-col">
                    <h3>IVPBS</h3>
                    <h4>Web Development</h4>
                    <p>Industrial Visit Planning & Booking System</p>
                    <p>Platform to plan and book Industrial Visit without any paperwork</p>
                    <p>Audience: Colleges and students who organize their Industrial visit</p>
                </div>
            </div>
        </div>
    </div>
</div>