<div class="about" id="about">
    <div class="content-inner">
        <div class="content-header">
            <h2>About Me</h2>
        </div>
        <div class="row align-items-center">
            <div class="col-md-6 col-lg-5">
                <img src="assets/img/about1.png" alt="Image">
            </div>
            <div class="col-md-6 col-lg-7">
                <p>
                    Enthusiastic and reliable Full Stack Software Developer with strong Back-end and Front-end technologies knowledge. Consistently identifying and providing the technological needs of companies through ingenious innovation. Proficient in providing a robust solution to the needs of customers. Always ready to face new challenges.
                </p>
                <a class="btn" (click)="scrollTo('contact')" href="javascript:void(0)">Hire Me</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="skills">
                    <div class="skill-name">
                        <p>Backend Development</p><p>90%</p>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="skill-name">
                        <p>Salesforce</p><p>65%</p>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 65%;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="skills">
                    <div class="skill-name">
                        <p>Frontend Development/Design</p><p>70%</p>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="skill-name">
                        <p>Database (SQL/Non-SQL)</p><p>90%</p>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="skills">
                    <div class="skill-name">
                        <p>Microservice/RestAPI</p><p>85%</p>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="skill-name">
                        <p>Integrations</p><p>80%</p>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>