<!-- Header Start -->
<div class="header" id="header">
    <div class="content-inner">
        <p>Hello 👋 I'm</p>
        <h1>Kaushal Brahmbhatt</h1>
        <h2>Software Developer</h2>
        <div class="typed-text">Web Designer, Web Developer, Front End Developer, Apps Developer, Graphic Designer</div>
    </div>
</div>
<!-- Header End -->

<!-- Large Button Start -->
<div class="large-btn">
    <div class="content-inner">
        <a class="btn" href="https://drive.google.com/file/d/1rWV6BzXkOUAzVbkxJo3XAGt8BElzUrEV/view?usp=sharing" target="new"><i class="fa fa-download"></i>Resume</a>
        <a class="btn" href="#contact"><i class="fa fa-hands-helping"></i>Hire Me</a>
    </div>
</div>
<!-- Large Button End -->