<!-- Header Start -->
<div class="header" id="header">
    <div class="content-inner">
        <p>Hello 👋 I'm</p>
        <h1>Kaushal Brahmbhatt</h1>
        <h2 #typedTarget>Software Developer</h2>
        <div #typedSource class="typed-text">Software Developer, Web Developer, Full Stack Developer, App Developer</div>
    </div>
</div>
<!-- Header End -->

<!-- Large Button Start -->
<div class="large-btn">
    <div class="content-inner">
        <a class="btn" href="https://drive.google.com/file/d/1rWV6BzXkOUAzVbkxJo3XAGt8BElzUrEV/view?usp=sharing" target="new"><i class="fa fa-download"></i>Resume</a>
        <a class="btn" (click)="scrollTo('contact')" href="javascript:void(0)"><i class="fa fa-hands-helping"></i>Hire Me</a>
    </div>
</div>
<!-- Large Button End -->