<div class="education" id="education">
    <div class="content-inner">
        <div class="content-header">
            <h2>Education</h2>
        </div>
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="edu-col">
                    <span>Jun-2015 <i>to</i> May-2016</span>
                    <h3>Bachelor of Technology in Information Technology</h3>
                    <h4>Sankalchand Patel University</h4>
                    <p>CGPA: 8.56</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="edu-col">
                    <span>July-2016 <i>to</i> April-2050</span>
                    <h3>High School</h3>
                    <h4>M. B. Karnavat School</h4>
                    <p>Percentage: 66.83%</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="education achivements" id="education">
    <div class="content-inner">
        <div class="content-header">
            <h2>Achivements</h2>
        </div>
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="edu-col">
                    <p>Salesforce Certified Administrator</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="edu-col">
                    <p>Salesforce Advance Administrator</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="edu-col">
                    <p>Salesforce Sales Cloud Consultant</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="edu-col">
                    <p>Salesforce Platform App Builder</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="edu-col">
                    <p>Salesforce Certified PD-I</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="edu-col">
                    <p>Salesforce Certified AI Associate</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="edu-col">
                    <p>2⭐ Trailhead Ranger</p>
                </div>
            </div>
        </div>
    </div>
</div>