<div class="experience" id="experience">
    <div class="content-inner">
        <div class="content-header">
            <h2>Experience</h2>
        </div>
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="exp-col">
                    <span>July 2022 <i>to</i> Current</span>
                    <h3>Salesforce</h3>
                    <h4>Hyderabad, Telangana, IN</h4>
                    <h5>Senior Technical Support Engineer</h5>
                    <p>Part of the Sales Cloud Signature Team. Working with Customers to address their technical queries.</p>
                    <p>Working with clients to drive their success in building and fixing their complex systems.</p>
                    <p>Troubleshooting custom automation created by the customer like apex, flow, process,  triggers, LWC, etc.</p>
                    <p>Help create custom applications with customers to drive their business efficiently. </p>
                    <p>Working as a consultant and technical architect to suggest the best solution across the industry standards also act as admin and fulfill administrator tasks as well.</p>
                    <p>6x salesforce certified </p>
                    <p>Achieved 2⭐ trailhead ranger tag.</p>
                </div>
            </div>
            <div class="col-md-12">
                <div class="exp-col">
                    <span>October 2020 <i>to</i> July 2022</span>
                    <h3>Tata Consultancy Services</h3>
                    <h4>Gandhinagar, Gujarat, IN</h4>
                    <h5>Assistant System Engineer</h5>
                    <p>Worked as a Full-stack developer, who Built microservice APIs and Design UI along with integration and Played a key position in the team along with managing and mentoring other team members</p>
                    <p>Designs and creates software solutions to solve pain points for the client and developer team. Contribute as system architect to defining and building project structure from scratch. Developed Plug and Play modules. Which is flexible to integrate with different applications and easy to customize.</p>
                    <p>Worked as a shared resource with the TCS internal framework team for building synchronization framework and Built a payment module that facilitates payment dispatchment / acceptance from the user for a different purpose. </p>
                    <p>Part of the Module leaders team which is directly in touch with higher management authority (Project Manager, Scrum Master, Business Analyst)</p>
                </div>
            </div>
        </div>
    </div>
</div>